<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alpha3Code</key>
	<string>USA</string>
	<key>numericCode</key>
	<string>840</string>
	<key>emoji</key>
	<string>🇺🇸</string>
	<key>subdivisions</key>
	<dict>
		<key>AL</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Alabama</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>AK</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Alaska</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>AS</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>American Samoa (see also separate country code entry under AS)</string>
			</dict>
			<key>category</key>
			<string>outlying area</string>
		</dict>
		<key>AZ</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Arizona</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>AR</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Arkansas</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>CA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>California</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>CO</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Colorado</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>CT</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Connecticut</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>DE</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Delaware</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>DC</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>District of Columbia</string>
			</dict>
			<key>category</key>
			<string>district</string>
		</dict>
		<key>FL</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Florida</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>GA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Georgia</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>GU</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Guam (see also separate country code entry under GU)</string>
			</dict>
			<key>category</key>
			<string>outlying area</string>
		</dict>
		<key>HI</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Hawaii</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>ID</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Idaho</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>IL</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Illinois</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>IN</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Indiana</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>IA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Iowa</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>KS</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Kansas</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>KY</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Kentucky</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>LA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Louisiana</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>ME</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Maine</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MD</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Maryland</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Massachusetts</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MI</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Michigan</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MN</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Minnesota</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MS</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Mississippi</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MO</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Missouri</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MT</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Montana</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NE</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Nebraska</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NV</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Nevada</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NH</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>New Hampshire</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NJ</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>New Jersey</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NM</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>New Mexico</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NY</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>New York</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>NC</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>North Carolina</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>ND</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>North Dakota</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>MP</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Northern Mariana Islands (see also separate country code entry under MP)</string>
			</dict>
			<key>category</key>
			<string>outlying area</string>
		</dict>
		<key>OH</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Ohio</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>OK</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Oklahoma</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>OR</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Oregon</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>PA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Pennsylvania</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>PR</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Puerto Rico (see also separate country code entry under PR)</string>
			</dict>
			<key>category</key>
			<string>outlying area</string>
		</dict>
		<key>RI</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Rhode Island</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>SC</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>South Carolina</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>SD</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>South Dakota</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>TN</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Tennessee</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>TX</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Texas</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>UM</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>United States Minor Outlying Islands (see also separate country code entry under UM)</string>
			</dict>
			<key>category</key>
			<string>outlying area</string>
		</dict>
		<key>UT</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Utah</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>VT</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Vermont</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>VI</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Virgin Islands, U.S. (see also separate country code entry under VI)</string>
			</dict>
			<key>category</key>
			<string>outlying area</string>
		</dict>
		<key>VA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Virginia</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>WA</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Washington</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>WV</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>West Virginia</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>WI</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Wisconsin</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
		<key>WY</key>
		<dict>
			<key>name</key>
			<dict>
				<key>en</key>
				<string>Wyoming</string>
			</dict>
			<key>category</key>
			<string>state</string>
		</dict>
	</dict>
</dict>
</plist>
